.signup-btn {
    border-radius: 5px;
    background: var(--PINK, #f63e7b);
    padding: 10px 47px;
    font-style: normal;
    line-height: 24px;
    text-align: center; /* Center text vertically */
  }